@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: black; /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  border-radius: 4px;
}
